<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <h2>{{ November 3-6, 2020 in Vienna, Austria }}</h2>

    </header>

     <!-- MAIN CONTENT -->
    <main id="content" class="main-content" role="main">
      
      <h3>EmpER'20 will be held in conjunction with <a href="https://er2020.big.tuwien.ac.at/">ER 2020</a> from November 3rd to 6th.</h3>

      <h2 id="scope">Scope</h2>

      <p>Conceptual modeling has enjoyed substantial growth over the past decades in diverse fields such as Information Systems Analysis, Software Engineering, Enterprise Architecture, Business Analysis and Business Process Engineering. A plethora of conceptual modeling languages, frameworks and systems have been proposed promising to facilitate activities such as communication, design, documentation or decision-making. Success in designing a conceptual modeling system is, however, predicated on demonstrably attaining such goals through observing their use in practical scenarios. At the same time, the way individuals and groups produce and consume models gives raise to cognitive, behavioral, organizational or other phenomena, whose systematic observation may help us better understand how models are used in practice and how we can make them more effective.</p>

      <h2 id="topics-of-interest">Aim and Topics</h2>
      <p>We aim at bringing together researchers and practitioners with an interest in the empirical investigation of conceptual modeling systems and practices. The workshop invites both reports on specific finished, on-going, or proposed empirical studies, as well as theoretical, review, and experience papers about empirical research in conceptual modeling. Examples of contributions include but are not limited to:</p>

<ul>
  <li>Complete, on-going or planned empirical studies in Conceptual Modeling</li>
  <li>Literature Reviews on empirical research in Conceptual Modeling</li>
  <li>Theoretical/philosophical positions on empirical Conceptual Modeling</li>
  <li>Discussions/positions on statistical and methodological issues</li>
  <li>Lessons learned from past studies</li>
</ul>
      
      <h2 id="submission-guidelines">Accepted papers</h2>
      <p>This is the list of accepted papers for EmpER'20:</p>
      <ul>
        <li>Dimitri Braininger, Wolfgang Mauerer and Stefanie Scherzinger. <i>Replicability and Reproducibility of a Schema Evolution Study in Embedded Databases</i> <a href="https://arxiv.org/abs/2008.10925">(Preprint paper version)</a></li>
        <li>Samuel Desguin and Wim Laurier. <i>Acquiring and sharing the monopoly of legitimate naming in organizations, an application in conceptual modeling</i> <a href="https://dial.uclouvain.be/pr/boreal/fr/object/boreal%3A237159/datastream/PDF_01/view">(Preprint paper version)</a></li>
        <li>Michael Fruth, Mohamed-Amine Baazizi, Dario Colazzo, Giorgio Ghelli, Carlo Sartiani and Stefanie Scherzinger. <i>Challenges in Checking JSON Schema Containment over Evolving Real-World Schemas</i> <a href="https://www.fim.uni-passau.de/fileadmin/dokumente/fakultaeten/fim/lehrstuhl/scherzinger/2020_EmpER/JSON_Schema_Evolution.pdf">(Preprint paper version)</a></li>
        <li>Thomas Gray and Marne De Vries. <i>Empirical evaluation of a new DEMO modelling tool that facilitates model transformations</i> <a href="http://hdl.handle.net/2263/76682">(Preprint paper version)</a></li>
        <li>Sotirios Liaskos, Mehrnaz Zhian and Ibrahim Jaouhar. <i>Experimental practices for measuring the intuitive comprehensibility of modelling constructs: an example design</i> <a href="http://www.yorku.ca/liaskos/Papers/EmpER2020/EmpER2020.pdf">(Preprint paper version)</a></li>
      </ul>
      
<h2 id="important-dates">Important Dates</h2>
<p><b>Paper submission: 27 July 2020</b></p>

<p>Author notification: <s>17 August 2020</s> extended: 24 August 2020</p>

<p>Camera-ready Version: 7 September 2020</p>

<h2 id="paper-submission">Paper Submission</h2>
<p>Authors should consult <a href="ftp://ftp.springernature.com/cs-proceeding/svproc/guidelines/Springer_Guidelines_for_Authors_of_Proceedings.pdf">Springer’s authors’ guidelines</a> and use their proceedings templates, either for <a href="ftp://ftp.springernature.com/cs-proceeding/llncs/llncs2e.zip">LaTeX</a> or for <a href="ftp://ftp.springernature.com/cs-proceeding/llncs/word/splnproc1703.zip">Word</a>, for the preparation of their papers. Springer encourages authors to include their ORCIDs in their papers. In addition, the corresponding author of each paper, acting on behalf of all of the authors of that paper, must complete and sign a Consent-to-Publish form. The corresponding author signing the copyright form should match the corresponding author marked on the paper. Once the files have been sent to Springer, changes relating to the authorship of the papers cannot be made.</p>

<p>Papers must adhere to the length restrictions above (including figures, references, etc.) and must use the LNCS template. Submissions are handled in <a href="https://easychair.org/conferences/?conf=emper20">EasyChair</a>.</p>

<p>The EmpER’20 accepted papers will be published within the ER Workshop proceedings, in the Springer LNCS Series. At least one of the authors for each accepted paper must be registered and attend the conference for paper presentation.</p>

<h2 id="workshop-organizers">Workshop Organizers</h2>

<ul>
  <li><a href="https://www.big.tuwien.ac.at/people/dbork/">Dominik Bork</a>, TU Wien, Austria</li>
  <li><a href="http://ctp.di.fct.unl.pt/~mgoul/">Miguel Goulao</a>, Universidade Nova de Lisboa</li>
</ul>

<h2 id="program-committee">Program Committee</h2>
        <ul>
          <li>João Araújo (Universidade NOVA de Lisboa – Portugal)</li>
          <li>Robert Buchmann (Babeş-Bolyai University – Romania)</li>
          <li>Javier Cánovas (Universitat Oberta de Catalunya – Spain)</li>
          <li>Michel Chaudron (University of Gothenburg – Sweden)</li>
          <li>Nelly Condori-Fernandez (VU University Amsterdam – The Netherlands)</li>
          <li>Marian Daun (Universität Duisburg-Essen – German)</li>
          <li>Sepideh Ghanavati (University of Maine – USA)</li>
          <li>Catarina Gralha (Universidade Nova de Lisboa – Portugal)</li>
          <li>Jens Gulden (Utrecht University – The Netherlands)</li>
          <li>Irit Hadar (University of Haifa – Israel)</li>
          <li>Jennifer Horkoff (University of Gothenburg – Sweden)</li>
          <li>Katsiaryna Labunets (TU Delft, The Netherlands)</li>
          <li>Sotirios Liaskos (York University – Canada)</li>
          <li>Judith Michael (RWTH Aachen – German)</li>
          <li>Geert Poels (Ghent University - Belgium)</li>
          <li>Iris Reinhartz-Berger (University of Haifa – Israel)</li>
          <li>Ben Roelens (Open University of the Netherlands – The Netherlands)</li>
          <li>Zahra Shakeri (University of Calgary – Canada)</li>
          <li>Manuel Wimmer (JKU Linz – Austria)</li>

          
          <!--
          <li>Silvia Abrahao (Universidad Politécnica de Valencia – Spain)</li>
          <li>Daniel Amyot (University of Ottawa – Canada)</li>          
          <li>Jordi Cabot (Open University of Catalonia – Spain)</li>
          <li>Jose Antonio Cruz Lemus (University of Castillia – La Mancha – Spain)</li>
          <li>Daniela Damian (University of Victoria – Canada)</li>
          <li>Neil Ernst (University of Victoria – Canada)</li>
          <li>Robson Fidalgo (Universidade Federal de Pernambuco – Brazil)</li>
          <li>Vincenzo Gervasi (University of Pisa – Italy)</li>
          <li>Alicia Grubb (University of Toronto – Canada)</li>
          <li>Giancarlo Guizzardi (Free University Bolzano Bozen – Italy)</li>
          <li>Katsiaryna Labunets (Delft University of Technology – The Netherlands)</li>
          <li>Grischa Liebel (Reykjavik University – Iceland)</li>
          <li>Tong Li (Beijing University of Technology – Japan)</li>
          <li>Lin Liu (Tsinghua University – China)</li>
          <li>Grischa Liebel (University of Gothenburg – Sweden)</li>
          <li>Dirk van der Linden (University of Bristol – UK)</li>
          <li>Daniel L. Moody (University of Twente – The Netherlands)</li>
          <li>Ana Moreira (Universidade NOVA de Lisboa – Portugal)</li>
          <li>Xavier Le Pallec (University Lille 1 – France)</li>
          <li>Jeffrey Parsons (Memorial University – Canada)</li>
          <li>Oscar Pastor (Universidad Politécnica de Valencia – Spain)</li>
          <li>Razvan Petrusel (Babes-Bolyai University – Romania)</li>
          <li>Mario Piattini (University of Castillia – La Mancha – Spain)</li>
          <li>Helen Purchase (University of Glasgow – UK)</li>
          <li>Jan Recker (University of Cologne – Germany)</li>
          <li>Carla Silva (Universidade Federal de Pernambuco – Brazil)</li>
          <li>Margaret-Anne Storey (University of Victoria – Canada)</li>
          //-->
        </ul>
 </section>
    
    <h2 id="previous-editions">Previous editions</h2>
    Previous editions of EmpER have been also co-located with the ER conference.
    Please consider looking at previous papers to get an idea of the scope of the workshop:
    <ul>
      <li><a href="https://www.springer.com/gp/book/9783030013905">EmpER'2018</a></li>
      <li><a href="https://www.springer.com/gp/book/9783030341459">EmpER'2019</a></li>
    </ul>
    
    </div>
    
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
