<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <h2 class="project-tagline">October 28-31, 2024 in Pittsburgh, Pennsylvania, USA</h2>
      <h3><b><span style="color: orange"> * Program Posted *</span></b></h3>

    </header>

     <!-- MAIN CONTENT -->
    <main id="content" class="main-content" role="main">
      
      <h3>EmpER'24 will be held in conjunction with <a href="https://resources.sei.cmu.edu/news-events/events/er2024/index.cfm">ER 2024</a> from October 28th to October 31st.</h3>

      <h2 id="scope">Scope</h2>

      <p>Conceptual modeling has enjoyed substantial growth over the past decades in fields ranging from Information Systems Analysis to Business Process Engineering. A plethora of conceptual modeling practices (languages, frameworks, methods, etc.) have been proposed, promising to facilitate activities such as communication, design, or decision-making. Success in adopting a conceptual modeling practice is, however, predicated on convincingly demonstrating that it indeed successfully supports these activities. At the same time, the way individuals and groups produce and consume models gives raise to cognitive, behavioral, organizational or other phenomena, whose systematic observation may help us better understand how models are used in practice and how we can make them more effective.</p>
	  
	  <p>Furthermore, the act of building conceptual models is ideally informed by empirical evidence that is nowadays abundant in the form of digital data. This overabundance of data, combined with the advent of advanced data analysis and artificial intelligence (AI) techniques, introduces major opportunities and challenges in an empirically-informed conceptual modeling practice.</p>

      <h2 id="topics-of-interest">Aim and Topics</h2>
      <p>We aim at bringing together researchers with an interest in the empirical investigation of conceptual modeling practices, as well as with the study of a data-driven, evidence-based conceptual modelling practice. Contributions include but are not limited to:</p>

<ul>
  <li>Complete, on-going or planned empirical studies in conceptual modeling.</li>
  <li>Literature Reviews on empirical research.</li>
  <li>Theoretical/philosophical positions.</li>
  <li>Technical contributions, case studies, or position and vision papers on data-driven, evidence-based conceptual modeling.</li>
  <li>Discussions/positions on statistical and methodological issues.</li>
  <li>Lessons learned from past studies.</li>
</ul>
      

    <h2 id="program">Program</h2>
	

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Location:</b> Jared L. Cohon University Center, Rangos Ballroom 3 <BR>
	 
	<ul>
		<li> <b>Session I</b>: 14:00 - 15:30</li>
		<ul>
		<li>14:00-14:05: Opening</li>
		<li>14:05-14:30: Aleksandar Gavric, Dominik Bork and Henderik A. Proper. <b>How Does UML Look and Sound? Using Multimodal AI to Interpret UML Diagrams through Empirical Evidence</b></li>
		<li>14:30-15:00: Philippe Giabbanelli and Noé Flandre. <b>Can Large Language Models Learn Conceptual Modeling by Looking at Slide Decks and Pass Graduate Examinations? An Empirical Study</b></li>
		<li>15:00-15:30: Jose Ignacio Panach Navarrete, Oscar Pastor, Stephen W. Liddle, Veda C. Storey, Heinrich C. Mayr and Bernhard Thalheim. <b>Evaluating a Framework of Conceptual Modelling Research</b></li>
		</ul>
		<li> <b>Session II</b>: 14:00 - 15:30 (joint with <a href="https://quames.testar.org/">QUAMES</a>)</li> 
		<ul>
		<li>14:00-14:05: Opening</li>
		<li>14:05-14:30: Jeshwitha Jesus Raja, Akhila Vissom Raju, Jennifer Brings and Marian Daun. <b>Extending Goal Models with Execution Orders: An Investigation of the Impact on Comprehensibility</b></li>
		<li>14:30-15:30: <a href="https://quames.testar.org/">QUAMES</a> program</li>
		</ul>
	</ul>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full conference program can be found <a href="https://resources.sei.cmu.edu/news-events/events/er2024/program.cfm">here</a>.
	  
<h2 id="important-dates">Important Dates</h2>
<p><b>Paper submission:</b> <s>27 July 2024</s> <b><span style="color: darkred">4 August 2024</span></b></p>

<p>Author notification: 20 August 2024</p>

<p>Camera-ready Version: 30 August 2024</p>

<h2 id="paper-submission">Paper Submission</h2>
<p>Since the proceedings will be published by Springer in the LNCS series, authors must submit manuscripts using the <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">LNCS</a> style or <a href="https://www.overleaf.com/latex/templates/springer-lecture-notes-in-computer-science/kzwwpvhwnvfj%23.WuA4JS5uZpi">Overleaf</a>. Maximum lenght is 10 LNCS pages (including figures, references, etc.). The review process is double-blind. Submissions must be anonymized. Submissions are handled in <a href="https://easychair.org/conferences/?conf=er2024">EasyChair</a> (please select <b>"EmpER’24 Workshop Papers"</b>).</p>



<p>Papers will be judged on contribution, literature basis, novelty, clarity, relevance, and rigor. Accepted papers will be published within the ER Workshop proceedings, in the Springer LNCS Series. At least one of the authors for each accepted paper must be registered and attend the conference for paper presentation.</p>

<h2 id="workshop-organizers">Workshop Organizers</h2>

<ul>
  <li><a href="https://docentes.fct.unl.pt/p191/">João Araujo</a>, Universidade Nova de Lisboa, Portugal</li>
  <li><a href="https://www.big.tuwien.ac.at/people/dbork/">Dominik Bork</a>, TU Wien, Austria</li>
  <li><a href="http://ctp.di.fct.unl.pt/~mgoul/">Miguel Goulao</a>, Universidade Nova de Lisboa, Portugal</li>
  <li><a href="https://research.chalmers.se/en/person/jenho">Jennifer Horkoff</a>, Chalmers University of Technology and University of Gothenburg, Sweden</li>
  <li><a href="http://www.yorku.ca/liaskos/">Sotirios Liaskos</a>, York University, Canada</li>
</ul>

<h2 id="program-committee">Program Committee</h2>

<ul>
<li>Camilo Almendra, Universidade Federal do Ceará, Brazil</li>
<li>David Aveiro, University of Madeira, Portugal</li>
 <li>Robert Buchmann, Babeș-Bolyai University, Romania</li>
 <li>Edna Dias Canedo, University of Brasília, Brazil</li>
 <li>Marian Daun, Technical University of Applied Sciences Würzburg-Schweinfurt, Germany</li>
 <li>Robson Fidalgo, Universidade Federal de Pernambuco, Brazil</li>
 <li>Antonio Garmendia, Universidad Autónoma de Madrid, Spain</li>
 <li>Vincenzo Gervasi, University of Pisa, Italy</li>
 <li>Andrea Herrmann, University of Heidelberg, Germany</li>
 <li>John Krogstie, Norwegian University of Science and Technology, Norway</li>
 <li>Tong Li, Beijing University of Technology, China</li>
 <li>Lin Liu, Tsinghua University, China</li>
 <li>José Antonio Hernández Lopez, Linköping University, Sweden</li>
 <li>Raimundas Matulevičius, University of Tartu, Estonia</li>
 <li>Claudia Negri-Ribalta, University of Luxembourg, Luxemburg</li>
 <li>Oscar Pastor, Universidad Politécnica de Valencia, Spain</li>
 <li>Tiago Prince Sales, University of Twente, The Netherlands</li>
 <li>Henderik Proper, TU Wien, Austria</li>
 <li>Jan Recker, University of Hamburg, Germany</li>
 <li>Ben Roelens, Open Universiteit, The Netherlands</li>
 <li>Jéssyka Vilela, Universidade Federal de Pernambuco, Brazil</li>
 <li>Manuel Wimmer, JKU Linz, Austria</li>
 </ul>
 
<!--
      <ul>
		<li>Anna Bernasconi, Politecnico di Milano, Italy</li>
		<li>Robert Andrei Buchmann, Babeș-Bolyai University of Cluj Napoca, Romania</li>
		<li>Michel Chaudron, Eindhoven University of Technology, The Netherlands</li>
		<li>Marian Daun, University of Applied Sciences Würzburg-Schweinfurt, Germany</li>
		<li>Istvan David, University of Montreal, Canada</li>
		<li>Robson Fidalgo, Universidade Federal de Pernambuco, Brazil</li>
		<li>Antonio Garmendia, Universidad Autónoma de Madrid, Spain</li>
		<li>Vincenzo Gervasi, University of Pisa, Italy</li>
		<li>Sepideh Ghanavati, University of Maine, USA</li>
		<li>Andrea Herrmann, Herrmann & Ehrlich, Germany</li>
		<li>Katsiaryna Labunets, Utrecht University, The Netherlands</li>
		<li>Tong Li, Beijing University of Technology, China</li>
		<li>Grischa Liebel, Reykjavik University, Iceland</li>
		<li>Lin Liu, Tsinghua University, China</li>
		<li>Raimundas	Matulevičius, University of Tartu, Estonia</li>
		<li>Jeffrey Parsons, Memorial University of Newfoundland, Canada</li>
		<li>Geert Poels, Ghent University, Belgium</li>
		<li>Jan Recker, University of Hamburg, Germany</li>
		<li>Ben Roelens, Open Universiteit, Ghent University, Belgium</li>
		<li>Carla Silva, Universidade Federal de Pernambuco, Brazil</li>
		<li>Irene Vanderfeesten, KU Leuven, Belgium</li>
		<li>Manuel Wimmer, Johannes Kepler University Linz, Austria</li>
      </ul>
	  -->
		<!--
        <ul>
          <li>João Araújo (Universidade NOVA de Lisboa – Portugal)</li>
          <li>Robert Buchmann (Babeş-Bolyai University – Romania)</li>
          <li>Javier Cánovas (Universitat Oberta de Catalunya – Spain)</li>
          <li>Michel Chaudron (University of Gothenburg – Sweden)</li>
          <li>Nelly Condori-Fernandez (VU University Amsterdam – The Netherlands)</li>
          <li>Marian Daun (Universität Duisburg-Essen – German)</li>
          <li>Sepideh Ghanavati (University of Maine – USA)</li>
          <li>Catarina Gralha (Universidade Nova de Lisboa – Portugal)</li>
          <li>Jens Gulden (Utrecht University – The Netherlands)</li>
          <li>Irit Hadar (University of Haifa – Israel)</li>
          <li>Jennifer Horkoff (University of Gothenburg – Sweden)</li>
          <li>Katsiaryna Labunets (TU Delft, The Netherlands)</li>
          <li>Sotirios Liaskos (York University – Canada)</li>
          <li>Judith Michael (RWTH Aachen – German)</li>
          <li>Geert Poels (Ghent University - Belgium)</li>
          <li>Iris Reinhartz-Berger (University of Haifa – Israel)</li>
          <li>Ben Roelens (Open University of the Netherlands – The Netherlands)</li>
          <li>Zahra Shakeri (University of Calgary – Canada)</li>
          <li>Manuel Wimmer (JKU Linz – Austria)</li>
		-->
          
          <!--
          <li>Silvia Abrahao (Universidad Politécnica de Valencia – Spain)</li>
          <li>Daniel Amyot (University of Ottawa – Canada)</li>          
          <li>Jordi Cabot (Open University of Catalonia – Spain)</li>
          <li>Jose Antonio Cruz Lemus (University of Castillia – La Mancha – Spain)</li>
          <li>Daniela Damian (University of Victoria – Canada)</li>
          <li>Neil Ernst (University of Victoria – Canada)</li>
          <li>Robson Fidalgo (Universidade Federal de Pernambuco – Brazil)</li>
          <li>Vincenzo Gervasi (University of Pisa – Italy)</li>
          <li>Alicia Grubb (University of Toronto – Canada)</li>
          <li>Giancarlo Guizzardi (Free University Bolzano Bozen – Italy)</li>
          <li>Katsiaryna Labunets (Delft University of Technology – The Netherlands)</li>
          <li>Grischa Liebel (Reykjavik University – Iceland)</li>
          <li>Tong Li (Beijing University of Technology – Japan)</li>
          <li>Lin Liu (Tsinghua University – China)</li>
          <li>Grischa Liebel (University of Gothenburg – Sweden)</li>
          <li>Dirk van der Linden (University of Bristol – UK)</li>
          <li>Daniel L. Moody (University of Twente – The Netherlands)</li>
          <li>Ana Moreira (Universidade NOVA de Lisboa – Portugal)</li>
          <li>Xavier Le Pallec (University Lille 1 – France)</li>
          <li>Jeffrey Parsons (Memorial University – Canada)</li>
          <li>Oscar Pastor (Universidad Politécnica de Valencia – Spain)</li>
          <li>Razvan Petrusel (Babes-Bolyai University – Romania)</li>
          <li>Mario Piattini (University of Castillia – La Mancha – Spain)</li>
          <li>Helen Purchase (University of Glasgow – UK)</li>
          <li>Jan Recker (University of Cologne – Germany)</li>
          <li>Carla Silva (Universidade Federal de Pernambuco – Brazil)</li>
          <li>Margaret-Anne Storey (University of Victoria – Canada)</li>
          //-->
        </ul>
 </section>
    
    <h2 id="previous-editions">Previous editions</h2>
    Previous editions of EmpER have been also co-located with the ER conference.
    Please consider looking at previous papers to get an idea of the scope of the workshop:
    <ul>
	  <li><a href="https://emper-workshop.github.io/2023/">EmpER'2023</a></li>
	  <li><a href="https://emper-workshop.github.io/2022/">EmpER'2022</a></li>
      <li><a href="https://emper-workshop.github.io/2021/">EmpER'2021</a></li>
	  <li><a href="https://emper-workshop.github.io/2020/">EmpER'2020</a></li>
	  <li><a href="https://www.springer.com/gp/book/9783030341459">EmpER'2019</a></li>
      <li><a href="https://www.springer.com/gp/book/9783030013905">EmpER'2018</a></li>
    </ul>
    
    </div>
    
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
